

#header{
         /*background-color: #dceee9;*/            
        background: -webkit-linear-gradient(top, #acd6c2, #9dd6ba);
        height: 50px;
        width: 100%;
        margin-top: 0px;
        z-index: 30;
}
#header h1{
      color: #365;
	font-family: helvetica,arial, sans-serif;
        padding-left: 50px;
	font-size:25px;
        line-break: auto;
	line-height:10px;
	font-weight:650;
	font-style: italic;
	font-family: Georgia, Times New Roman, Times, serif;
	max-width:350px;
                
    
    margin-left: 80px;
    padding-top: 20px;
    
}
#header a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #47a17a;
}    
.logout {display:block; position: relative;font:16px Tahoma, Sans-serif; float: right; margin-top: -30px; }
.logout ul { padding:0; margin:0; }
.logout li { position:relative; float:left; list-style-type:none; }

.logout li a { display:block; font-weight: 700; margin-right: 5px; padding:5px 5px; border-left:1px; border-right:1px solid #117c55; color:#efe; text-decoration:none; }

#container{
        position:fixed;
        margin-top: -950px;
        width:1000px;
        height:100px;
        margin-left: 250px;
}
#border{
    
    height:1000px;
    width:200px;
    border-right: 1px solid #ccc;
}

a:link{ color: #333; }

a:visited{ color: #333; }

a:hover, a:focus{ color: #333;	text-decoration:none; }


ol, ul{	margin: 1em 0 1em 2em; }

ol ol, ol ul, ul ol, ul ul{ margin-top:0; margin-bottom:0; }

ol li{	list-style:decimal }
ol li ol li{ list-style:upper-alpha; }
ol li ol li ol li{ list-style:upper-roman; }

ul li{ list-style:disc;}

/* all menu links */
#nav a,a{
	text-decoration:none;
	display:list-item;
        padding-top: 10px;
        padding-bottom: 10px;
       text-align: left;
       padding-left: 20px;
	background-color:#efe ;
        border-bottom: 1px solid #c3d46a;
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav a{
	margin:0;
}

/* All menu links on hover or focus */
#nav a:hover, #nav a:focus{
	background-color:#58af58;
	color:#FFF;
}
#nav li a:hover,
#nav li a:focus{
	background-color:#58af58;
	color:#FFF;
}

/* Parent Sub Menu Links ---[javascript users only]*/

/* All submenu OLs and ULs */
#nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/
	background:#fff;	
	border:1px solid #C3D46A; 
	left:0;
}

/* All ULs and OLs */
#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	
	margin-left: 10px;
	list-style: none;
	line-height: 1em;
}

/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#nav li { 
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
        background: #014464;
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	
	
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;

	
	text-align: right;
	display:block;
}


/* main menu ul or ol elment */
#nav{
	display:block;
	position: absolute;
	list-style:none;
	margin-top: 200px;
	width:186px;
	z-index:5;
        
	/* Background color and gradients */
	
	background: #014464;
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	
	
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;

	
	text-align: right;
	display:block;
}

#nav li li{	float:none; }

#nav li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

/* third-and-above-level lists */
#nav li ul ul { margin: -1em 0 0 -1000em; }
#nav li:hover ul ul {	margin-left: -1000em; }

 /* lists nested under hovered list items */
#nav li:hover ul{	margin-left: 186px; margin-top:-2.5em;}
#nav li li:hover ul {	margin-left: 10em; }

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul {  margin-left: 186px; margin-top:-2.5em; }
#nav li li a:focus + ul { left:186px; margin-left: 1010em; margin-top:-2.5em;}
#nav li li a:focus {left:186px;  margin-left:1000em; width:10em;  margin-top:-2.5em;}
#nav li li li a:focus {left:186px; margin-left: 2010em; width: 10em;  margin-top:-2.5em;}
#nav li:hover a:focus{ margin-left: 0; }
#nav li li:hover a:focus + ul { margin-left: 10em; }
